:root {
    --nc-font-sans: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --nc-font-mono: Consolas, monaco, 'Ubuntu Mono', 'Liberation Mono', 'Courier New', Courier, monospace;
    --nc-tx-1: #000000;
    --nc-tx-2: #1A1A1A;
    --nc-bg-1: #FFFFFF;
    --nc-bg-2: #F6F8FA;
    --nc-bg-3: #E5E7EB;
    --nc-lk-1: #0070F3;
    --nc-lk-2: #0366D6;
    --nc-lk-tx: #FFFFFF;
    --nc-ac-1: #79FFE1;
    --nc-ac-tx: #0C4047;

    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 90%);
    --black: hsl(0, 0%, 15%);
    --green: hsl(177, 91%, 27%);
    --blue: hsl(224, 47%, 52%);
    --orange: hsl(33, 79%, 36%);
    --red: hsl(11, 95%, 45%);
    --primary: var(--blue);
    --secondary: var(--green);
    --background: var(--white);
    --background-alt: hsl(210, 40%, 98%);
    --selection: hsl(0, 0%, 62%);
    --text-main: hsl(0, 0%, 29%);
    --text-bright: hsl(0, 0%, 0%);
    --text-muted: hsl(0, 0%, 44%);
    --links: var(--primary);
    --focus: rgba(74, 105, 189, .35);
    --border: rgba(0, 0, 0, .2);
    --border-radius: 4px;
    --code: hsl(0, 0%, 0%);
    --animation-duration: .1s;
    --button-hover: hsl(0, 0%, 87%);
    --button-shadow: 0 4px 6px -1px hsla(0, 0%, 0%, 0.102), 0 2px 4px -1px hsla(0, 0%, 0%, 0.06);
    --form-placeholder: hsl(0, 0%, 58%);
    --form-text: #000000;
    --variable: hsl(122, 48%, 43%);
    --highlight: #ffff00;
}

@media (prefers-color-scheme:dark) {
    :root {
        --nc-tx-1: hsl(0, 0%, 100%);
        --nc-tx-2: hsl(0, 0%, 93%);
        --nc-bg-1: hsl(0, 0%, 0%);
        --nc-bg-2: hsl(0, 0%, 7%);
        --nc-bg-3: hsl(0, 0%, 13%);
        --nc-lk-1: hsl(218, 45%, 48%);
        --nc-lk-2: hsl(218, 75%, 38%);
        --nc-lk-tx: #FFFFFF;
        --nc-ac-1: #7928CA;
        --nc-ac-tx: #FFFFFF
    }
}
